.contact {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.contact h5 {
  font-size: 18px;
}

.contact__details {
  margin: 80px 0 160px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__email {
  margin-bottom: 40px;
}

.contact__social {
  margin-top: 40px;
}

.contact__social .social__fa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.social__fa .social__icons {
  font-size: 25px;
  color: #c4c4c4;
  transform: scale(1);
  transition: 0.4s;
  cursor: pointer;
}

.social__fa .social__icons:hover {
  font-size: 25px;
  transform: scale(1.2);
  color: #007bff;
}

@media only screen and (max-width: 540px) {
  .contact {
    margin-top: 120px;
  }
  .contact__details {
    margin: 8px 0 80px 0;
  }

  .contact h5 {
    font-size: 16px;
    line-height: 28px;
  }

  .contact__social {
    margin-top: 20px;
  }

  .contact__email {
    margin-bottom: 20px;
  }
}
