.wissnav{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px ;
    position: -webkit-sticky;
    position: sticky;
    cursor: pointer;
    top: 0;
    z-index: 99;
}


.wissnav__styledHamburger{
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border:0px none;
   background-color:transparent;
   
}

.wissnav__hamburgerBox{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
}

.wissnav__hamburgerInner{
    background-color:var(--white);
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 2px;
    top:50%;
    left:0px;
    right: 0px;
    transition:transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
}

.wissnav__hamburgerInner::before{
    width: 100%;
    top:-10px;
    opacity: 1;
    transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in 0s;

}

.wissnav__hamburgerInner::before,
.wissnav__hamburgerInner::after {
  content: "";
  display: block;
  background-color:var(--white);
  position: absolute;
  left: auto;
  right: 0px;
  /* width: 30px; */
  height: 2px;
  /* transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform; */
  border-radius: 4px;
}

.wissnav__overlay{
    height: 100%;
    position: fixed;
    z-index:3;
    width: 0%;
    left: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    transition: 1s ease-in-out;    
}

.wissnav__overlay .menu-content {
    top:25%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    position: relative;
    list-style: none;
}

.wissnav__overlay .menu-content li a {
    color: var(--white);
    font-size: 24px;
    padding: 16px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    transform: scale(0.9);
    transition: 0.3s;
  }
  
  .wissnav__overlay .menu-content li a:hover {
    transform: scale(1.1);
    color: var(--brand-color);
    cursor: pointer;
  }

  .wissnav__overlay .close-btn {
      position: absolute;
      top:18px;
      right: 30px;
      font-size:30px;
      color:var(--white);
      z-index:2;
      cursor: pointer;
      display: none;
  }

.wissnav__overlay.menu__isActive {
      width: 100%;
      left:0;
}

.wissnav__overlay.menu__isActive .close-btn{
    display: block;
}




  

  
  



