* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: floralwhite;
  --ham-color: cyan;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --offBlack: #000000;
  --mainGrey: #ececec;
  --darkGrey: #c4c4c4;
  --brand-color: #47a4de;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

body {
  font-family: "Nunito", sans-serif, "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--offBlack);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding: 70px 20px;
  color: var(--white);
}

section p {
  font-size: 18px;
  font-weight: normal;
}

@media only screen and (max-width: 540px) {
  body {
    background: #181818;
  }
}
