.banner {
  width: 85%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  top: 28%;
  /* background: rgba(0, 0, 0, 0.5); */
  color: var(--white);
  font-size: 67px;
  letter-spacing: 5px;
  padding: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0.02em;
  text-align: left;
}

@media only screen and (max-width: 540px) {
  .banner {
    top: 28%;
    /* background: rgba(0, 0, 0, 0.5); */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.02em;
  }
}
