.banner{
    /* display: inline-block; */
    /* vertical-align: middle; */
    width: 85%;
    margin:0 auto;
    position: relative;
    top: 28%;
    /* padding-bottom: 30px; */
    text-align: left;
    /* background: rgba(0, 0, 0, 0.5); */
    color: var(--white);
    font-size:67px;
    letter-spacing: 5px;
    padding: 8px;

}
